*.ipynb
*.swo
*.swp
*.pyc
*.bak
*.pickle
*.npz
temp.sh
temp.py
tags
__pycache__
data_files.log
missing_data_files.log
doc_src/_build/
doc_src/index.docx
doc_src/auto_api/
doc_src/auto_examples/
auto_figures/
enhancement.png
examples/data_files.csv
examples/single_mutant_overlay.pdf
pyspecProcScripts.egg-info/
pyspecProcScripts/__init__.py.orig
